@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,400;1,500;1,700&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,800;0,900;1,300;1,500;1,600;1,700&family=Roboto:wght@100;300;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Red Hat Display', sans-serif;
    position: relative;
    width: 100%;
}
.logoDiv {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 61px;
}
.logoDiv img {
    width: 119px;
    height: 28px;
    align-self: center;
    padding-top: 80px;
}
.Hero {
    height: 358px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}
.heroText h1 {
    text-align: center;
    font-size: 64px;
}
.heroText p {
    text-align: center;
    color: #87879D;
    margin-top: 34px;
}
.heroText button {
    text-align: center;
    align-self: center;
}
.tabMob {
    display: none;
}
.download-btn {
    background-color: #4D96A9;
    border: #4D96A9;
    color: #ffffff;
    padding: 15px 40px;
    border-radius: 29px;
    margin-right: 16px;
    cursor: pointer;
}
.download-btn span {
    color: #8FE3F9;
}
.download-btn:hover {
    background-color: #71C0D4;
    border: #71C0D4;
}
.whatIs-btn {
    background-color: #855FB1;
    border: #855FB1;
    color: #ffffff;
    padding: 16px 29px;
    border-radius: 29px;
    cursor: pointer;
}
.whatIs-btn:hover {
    background-color: #9DB8FF;
    border: #9DB8FF;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}
.styledNum {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 64px;
}
.styledNum hr {
    width: 1px;
    height: 84px;
    align-self: center;
    /* margin-left: 731px; */
    color: #87879D;
    background-color: #87879D;
    text-align: center;
}
.styledNum p {
    align-self: center;
    padding: 5px;
    border: 1px solid #87879D;
    border-radius: 50%;
    /* margin-left: 719px; */
    color: #87879D;
}
.people {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.people img {
    width: 255px;
    height: 242px;
    margin-right: 30px;
    border-radius: 10px;
}
.desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 164px;
}
.desc p {
    color: #87879D;
}
.desc .desc-1 {
    text-transform: uppercase;
    color: #4D96A9;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}
.desc h2 {
    font-size: 40px;
    margin-bottom: 32px;
}
.smallScrn {
    display: none;
}
.num2 {
    position: absolute;
    margin-top: -100px;
    z-index: 1;
}
.num2 p {
    background-color: #ffffff;
    margin-bottom: 0;
}
footer {
    width: 100%;
    background-color: #4D96A9;
    height: 308px;
    align-items: center;
    display: flex;
    justify-content: center;
}
footer h2 {
    margin-right: 125px;
    font-size: 40px;
    color: #ffffff;
}
footer p {
    margin-right: 92px;
    font-size: 18px;
    color: #ffffff;
}
.whatIs-btn span {
    color: #87879D;
}

/* MEDIA QUERRIES */
@media (max-width:768px) {
    body {
        width: 768px;
    }
    .Hero {
        display: none;
    }

    .logoDiv {
        width: 100%;
    }

    .tabMob {
        display: initial;
        width: 100%;
    }

    .tabMob .heroImg img {
        width: 100%;
    }

    .styledNum {
        width: 100%;
        margin-top: 100px;
    }
    .people {
        width: 100%;
        align-items: center;
    }
    .people img {
        width: 164px;
        height: 156px;
        margin-right: 10px;
    }
   
    .num2 {
        margin-top: -100px;
    }
    footer {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: initial;
        align-items: initial;
    }
    footer h2 {
        text-align: center;
        margin-right: 0%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    footer p {
        text-align: center;
        margin-right: 0%;
        width: 52%;
        align-self: center;
        margin-bottom: 20px;
    }
    footer p br {
        display: none;
    }
    footer button {
        align-self: center;
    }
}

@media (max-width:375px) {

    body {
        width: 375px;
    }
    
    .heroText h1 {
        font-size: 40px;
    }

    .heroText p {
        font-size: 16px;
    }

    .tabMob .buttons {
        flex-direction: column;
    }

    .buttons .download-btn {
        width: 193px;
        height: 58px;
    }

    .buttons .whatIs-btn {
        width: 139px;
        height: 58px;
    }

    .tabMob .buttons .download-btn {
        margin-bottom: 15px;
    }

    .people {
        flex-direction: column;
        align-items: initial;
    }

    .people div {
        align-self: center;
    }

    .people img {
        width: 151px;
        height: 143px;
    }

    .desc .desc-1 {
        font-size: 16px;
    }

    .desc h2 br {
        display: none;
    }

    .desc h2 {
        font-size: 32px;
    }

    .desc p {
        font-size: 16px;
    }

    .largeScrn {
        display: none;
    }

    .smallScrn {
        display: initial;
    }

    .styledNum p {
        font-size: 16px;
    }

    footer h2 {
        font-size: 32px;
    }

    footer p br {
        display: none;
    }

    footer p {
        font-size: 18px;
        width: 100%;
    }
    
    footer .whatIs-btn {
        width: 193px;
        height: 58px;
    }
}
